<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Add Transaction</title>
    <link rel="stylesheet" href="../static/css/add-transaction.css">
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <a id="back-btn" href="home.html">Back Home</a>
    <h2>Add Transaction Details</h2>
    <input type="text" name="category" placeholder="Category">
    <input type="number" name="amount" placeholder="Amount">
    <input type="text" name="date" placeholder="Date: dd-mm-yyyy">
    <input type="text" name="description" placeholder="Description">
    
    <a id="save-btn" href="#">Save Transaction</a>

    <div class="categories cash-in hidden">
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
    </div>
    <div class="categories cash-out ">
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
        <button><img src="../static/img/house-chimney.svg" alt=""></button>
    </div>

    <script src="../static/js/add-transaction.js"></script>
</body>
</html>