<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
    <header>
        <div class="cash">
            <div>
                <h3>00</h3>
                <p>Cash In</p>
            </div>
            <div>-</div>
            <div>
                <h3>00</h3>
                <p>Cash Out</p>
            </div>
            <div>=</div>
            <div>
                <h3>00</h3>
                <p>Balance</p>
            </div>
        </div>
        <div class="header-buttons">
            <button id="list-button" class="active">List</button>
            <button id="overview-button">Overview</button>
        </div>
    </header>
    <div class="date">
        <div id="date-field"></div>
    </div>
    <main>
        <div class="list">
            <div class="list-item cash-out"> <!-- class= cash-in/cash-out -->
                <img src="../static/img/house-chimney.svg" alt="">
                <p>Rent</p>
                <p>60000</p>
            </div>
            <div class="list-item cash-out"> <!-- class= cash-in/cash-out -->
                <img src="../static/img/house-chimney.svg" alt="">
                <p>Rent</p>
                <p>60000</p>
            </div>
            <div class="list-item cash-out"> <!-- class= cash-in/cash-out -->
                <img src="../static/img/house-chimney.svg" alt="">
                <p>Rent</p>
                <p>60000</p>
            </div>
            <div class="list-item cash-out"> <!-- class= cash-in/cash-out -->
                <img src="../static/img/house-chimney.svg" alt="">
                <p>Rent</p>
                <p>60000</p>
            </div>
            <div class="list-item cash-out"> <!-- class= cash-in/cash-out -->
                <img src="../static/img/house-chimney.svg" alt="">
                <p>Rent</p>
                <p>60000</p>
            </div>
            <div class="list-item cash-out"> <!-- class= cash-in/cash-out -->
                <img src="../static/img/house-chimney.svg" alt="">
                <p>Rent</p>
                <p>60000</p>
            </div>
            <div class="list-item cash-out"> <!-- class= cash-in/cash-out -->
                <img src="../static/img/house-chimney.svg" alt="">
                <p>Rent</p>
                <p>60000</p>
            </div>
            <div class="list-item cash-out"> <!-- class= cash-in/cash-out -->
                <img src="../static/img/house-chimney.svg" alt="">
                <p>Rent</p>
                <p>60000</p>
            </div>
            <div class="list-item cash-out"> <!-- class= cash-in/cash-out -->
                <img src="../static/img/house-chimney.svg" alt="">
                <p>Rent</p>
                <p>60000</p>
            </div>
            <div class="list-item cash-out"> <!-- class= cash-in/cash-out -->
                <img src="../static/img/house-chimney.svg" alt="">
                <p>Rent</p>
                <p>60000</p>
            </div>
            <div class="list-item cash-out"> <!-- class= cash-in/cash-out -->
                <img src="../static/img/house-chimney.svg" alt="">
                <p>Rent</p>
                <p>60000</p>
            </div>
            <div class="list-item cash-out"> <!-- class= cash-in/cash-out -->
                <img src="../static/img/house-chimney.svg" alt="">
                <p>Rent</p>
                <p>60000</p>
            </div>
            <div class="list-item cash-out"> <!-- class= cash-in/cash-out -->
                <img src="../static/img/house-chimney.svg" alt="">
                <p>Rent</p>
                <p>60000</p>
            </div>
            <div class="list-item cash-out"> <!-- class= cash-in/cash-out -->
                <img src="../static/img/house-chimney.svg" alt="">
                <p>Rent</p>
                <p>60000</p>
            </div>
            <div class="list-item cash-out"> <!-- class= cash-in/cash-out -->
                <img src="../static/img/house-chimney.svg" alt="">
                <p>Rent</p>
                <p>60000</p>
            </div>
        </div>
        <div class="overview hidden">
            <div class="rating">82%</div>
            <div class="total-stats">
                <p>Total Cash In Transactions: <span>3</span></p>
                <p>Total Cash Out Transactions: <span>2</span></p>
            </div>
        </div>
        <div class="main-buttons">
            <button>Cash In</button>
            <button>Cash Out</button>
        </div>
    </main>

    <script src="../static/js/home.js"></script>
</body>

</html>